@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/*Variables des couleurs CSS*/
:root {
    --Green200lighter: hsl(148, 38%, 91%);
    --Green600medium : hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey500medium: hsl(186, 15%, 59%);
    --Grey900darker: hsl(187, 24%, 22%);
}

/*Reinitialisation du Parametre général * */
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/*Parametre du body*/
body {
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--Green200lighter);
}


.attribution {font-size: 11px; text-align: center;}
.attribution {color: hsl(228, 45%, 44%);}

form {
    width: 400px;
    height:  500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: var(--White);
    border-radius: 4px;
    font-size: 12px;
}

form h1 {
    color: var(--Grey900darker);
    text-align: left;
}

form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: var(--Green600medium);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.fname, .allradio {
    display: flex;
    flex-direction: row;
}

.input-control input, .radio, textarea {
    border: 2px solid var(--Grey500medium);
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 80%;
}

